h1 a {
    color: black;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background-color: #99ff82;
}

table tbody tr:nth-child(2n) {
    background-color: #e7e7e7;
}

table tbody tr:hover {
    background-color: #c5ffbb;
}

table.data tbody tr:hover {
    cursor: pointer;
}

table td {
    border: 1px solid black;
}

table thead td {
    padding: 8px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.details-main {
    display: flex;
    flex-direction: row;
}

.details-data {
    flex-grow: 1.0;
}

.map {
    border: 0;
}
